<style>
      .center {
        text-align: center;
      }
      ul {
          list-style: none;
          padding: 0;
      }
      img {
          display: inline;
          width: 380px;
          height: 120px;
      }
      #title{
        color: red;
      }
      #footer {
          width: 100%;
          border-top: solid 2px black;
          background-color: white;
          position: fixed;
          bottom: 0;
          font-family: times;
          color: red;
          font-style: bold;
          font-size: 60;
      }
      .guess {
        display: inline;
        font-size: 30px;
        border: 1px solid black;
        padding: 0 25px;
        border-radius: 10%;
        background-color: white;
      }
      #player-input {
        border-radius: 70%;
        width: 160px;
        height: 160px;
        font-size: 60px;
        position: center;
      }

      #submit {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 110px;
        left: 110px;
      }

      #input-parent {
        width: 160px;
        margin: 5% auto 50px;
        position: relative;
      }

      body {
        background-image: url('gamepic.jpg');
        background-size: 100% 100%;
      }

      #app {
        width: 60%;
        margin: 50px auto;
        background-color: rgba(256,256,256,0.5);
      }
    </style>